.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: clamp(12px, 2vw, 24px);
    display: grid;
    grid-template: 75px / 0.5fr 1.5fr 3fr 3.5fr 0.5fr;
    align-items: center;
    z-index: 10;
    background: var(--primary);
    color: var(--background-dark);
    transition: top 0.1s, color 1s, background 1s;
    border-bottom: 1px solid black;
    box-shadow: 0px 4px 4px var(--black);
}

.container {
    position: sticky;
    top: 0px;
    height: 75px;
    z-index: 12;
    background: var(--primary);
    color: var(--background-dark);
    transition: top 0.1s, color 1s, background 1s;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationSection {
    min-width: 300px;
}

[data-theme='dark'] .mainContainer {
    background: var(--background-light);
    color: var(--primary);
}

[data-theme='dark'] .container {
    background: var(--background-light);
    color: var(--primary);
}

.fullName {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    max-height: 100%;
    justify-items: start;
    align-content: center;
    overflow: hidden;
}


.nameF {
    width: fit-content;
    font-weight: bold;
    font-size: clamp(20px, 20px, 24px);
}

.nameL {
    width: fit-content;
    font-weight: bold;
    font-size: clamp(20px, 20px, 24px);
}

.hamburger {
    display: none;
    background: var(--black-darkest);
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    transition: all 1s linear;
    cursor: pointer;
}

.lineTop, .lineMiddle, .lineBottom {
    position: relative;
    width: 50%;
    height: 1px;
    left: 25%;
    background: var(--white);
    transition: all 0.3s ease-out;
}

.lineTop {
    top: 30%;
}

.lineMiddle {
    top: 45%;
}

.lineBottom {
    top: 60%;
}

.hamburger:active:not(.hamburgerIsActive) {
    background: rgba(0, 0, 0, 0.8);

    .lineTop {
        height: 2px;
        top: 29%;
    }

    .lineMiddle {
        height: 2px;
        top: 44%;
    }

    .lineBottom {
        height: 2px;
        top: 59%;
    }
}

.hamburgerIsActive {
    background: var(--white);

    .lineTop {
        top: 55%;
        transform: rotate(45deg);
        background: black;
    }

    .lineMiddle {
        display: none;
    }

    .lineBottom {
        top: 50%;
        transform: rotate(-45deg);
        background: black;
    }
}

.hamburgerIsActive:active {
    .lineTop {
        height: 2px;
        top: 55%;
    }

    .lineBottom {
        height: 2px;
        top: 49%;
    }
}

.navigationUnorderedList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    max-height: 100%;list-style-type: none;
    font-size: clamp(20px, 20px, 24px);
}

.navigationListItemProjects,
.navigationListItemSkills,
.navigationListItemAbout {
    display: grid;
    font-weight: bold;
    transition: transform 0.1s ease-in;
}

.navigationListItemProjects:hover,
.navigationListItemSkills:hover,
.navigationListItemAbout:hover {
    transform: scale(1.2, 1.2);
}

li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    text-decoration-skip-ink: auto;
    transition: opacity 0.3s, transform 0.3s, height 0.3s;
}

li:hover::after {
    transform: scale(1);
    height: 100%;
}

.hamburgerOverlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    background: var(--black-darkest);
    opacity: 0.5;
    top: 0%;
    z-index: 2;
}

.iconWrapper {
    justify-self: center;
    opacity: 1;
    width: 40px;
    height: 40px;
    background: none;
    border:none;
    padding: 0px;
}

.iconWrapper:hover {
    scale: 1.05;
    cursor: pointer;
}

.themeToggleIcon {
    width: 40px;
    height: 40px;
    fill: var(--white);
    transform-origin: center;
    transition: transform 0.3s;
    animation: rotateEnd 0.2s linear forwards;
}

.themeToggleIcon:active {
    animation: rotateStart 0.1s linear forwards;
}

/* Media Queries */

@media (max-width: 768px) {
    .mainContainer {
        grid-template: 75px / 1fr 2fr 0.5fr 1fr;
        box-shadow: unset;
    }

    .hamburger {
        display: block;
        z-index: 4;
        border: 1px solid var(--white);
    }

    .navigationSection {
        position: fixed;
        display: grid;
        background-color: var(--primary-dark);
        width: 100vw;
        top: -350px;
        height: 350px;
        z-index: 3;
        place-items: center;
        transition: all 0.5s ease-out;

        .navigationUnorderedList {
            justify-content: center;
            flex-direction: column;
        }
    }

    [data-theme='dark'] .navigationSection {
        background-color: var(--background-light-light);
    }

    .navigationForMobile {
        top: 0px;
    }

}

@media (min-width: 768px) {
    .mainContainer {
        grid-template: 56px / 0.25fr 1.5fr 2.5fr 0.25fr;
    }
}


/* KeyFrames */

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotateStart {
    from {
        transform: scale(1.05);
        opacity: 1;
    }

    to {
        transform: scale(0.9);
        opacity: 0.25;
    }
}

@keyframes rotateEnd {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}