.about_container {
    min-height: 300px;
    padding-bottom: 10px;
    scroll-margin-top: 75px;
    background: radial-gradient(white,rgb(216, 218, 217));
    transition: min-height 0.5s ease-in-out;
}

.night {
    min-height: 300px;
    padding-bottom: 10px;
    scroll-margin-top: 75px;
    transition: min-height 0.5s ease-in-out;
}

.stretch {
    min-height: 500px;
}

.collapse {
    min-height: 300px;
}

.title {
    font-size: 100px;
    opacity: 50%;
    font-weight: lighter;
    padding-right: 12px;
}

.me {
    height: auto;
    font-size: 20px;
    text-align: center;
}


.expanded {
    opacity: 0;
    width: 100%;
    animation: pop 0.3s ease-in-out forwards;
}

.expandedremove {
    opacity: 1;
    width: 100%;
    animation: popreverse 0.3s ease-out forwards;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    .about_container {
        border-radius: 20px;
        margin: 5vw 1vw;
        background: #D4F1F4;
    }

    .night {
        color: black;
        border-radius: 20px;
        margin: 5vw 1vw;
        background: #D4F1F4;
    }

    .title {
        font-size: 52px;
    }

    .me {
        font-size: 16px;
        padding: 10px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    
    .title {
        font-size: 72px;
    }
}

@keyframes pop {
    from {opacity: 0; bottom: -20px;}
    to {opacity: 1; bottom: 0px;}
}

@keyframes popreverse {
    from {opacity: 1; bottom: 0px;}
    to {opacity: 0; bottom: -20px; display: none;}
}


@keyframes popIn {
    to {
        scale: 1;
        opacity: 1;
    }
}