.mainContainer {
    min-height: 300px;
    scroll-margin-top: 75px;
    transition: min-height 0.5s ease-in-out;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.me {
    margin: 0px 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expandButton {
    margin: 20px;
    height: 48px;
    width: 48px;
    border-radius: 40px;
    border: 1px solid black;
    background: var(--secondary);
    font-size: clamp(20px, 20px, 24px);
    transition: all 0.5s linear, background 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expandButton:hover {
    background: var(--secondary-dark);
}

[data-theme='dark'] .expandButton:hover {
    background: var(--secondary-light);
}

.expandButton:active {
    background: var(--secondary-darkest);
}

[data-theme='dark'] .expandButton:active {
    background: var(--secondary-lightest);
}

.icon {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    fill: var(--background-dark);
    animation: moving 1s ease-out infinite;
}

.icon svg {
    top: -4px;
}

[data-theme='dark'] .icon {
    fill: var(--background-light);
}


.expanded {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;
    margin: 0px 5%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out, grid-template-rows 0.5s ease-in-out;
}

.expanded p {
    overflow: hidden;
}

.expandedShow {
    grid-template-rows: 1fr;
    transform: scaleY(1);
}

.expandedHide {
    max-height: 0px;
    opacity: 0;
    animation: closeTab 1s ease-in-out forwards;
}

@media (max-width: 700px) {
    .me {
        font-size: 16px;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    
}

@keyframes moving {
    0%, 100% {
        top: 0px;
    }
    50% {
        top: 2px;
    }
}

@keyframes openTab {
    0% {
        max-height: 0px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        max-height: 2000px;
    }
}

@keyframes closeTab {
    0% {
        max-height: 10000px;
        opacity: 1;
    }
    100% {
        opacity: 0;
        max-height: 0px;
    }
}