.mainContainer {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    border-radius: 20px;
    z-index: 8;
    margin: 24px 0px;
    scroll-margin-top: 75px;
    background: var(--primary);
    transition: background 1s linear;
}

[data-theme='dark'] .mainContainer {
    color: var(--background-dark);
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.content h3 {
    color: var(--black-darkest);
}

.frame {
    border: 2px solid var(--black-darkest);
    color: var(--background-dark);
    border-radius: 20px;
    padding: 20px 32px;
    text-align: center;
    font-size: clamp(16px, 20px, 24px);
    transition: all 0.2s linear;
}

[data-theme='dark'] .frame {
    color: var(--background-dark);
    border: 2px solid var(--background-dark);
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 2000px;
    perspective-origin: 50%;
    transition: transform 0.2s linear;
    color: var(--background-light);
    --main-bg-color: var(--black-darkest);
    --side-bg-color: var(--secondary);

}

[data-theme='dark'] .box {
    color: var(--background-dark);
}

.boxFace {
    position: absolute;
}

.frontSide {
    transform: rotateY(0deg) translateZ(10px);
}

.backSide {
    opacity: 0.8;
    background: var(--main-bg-color);
    transform: rotateY(180deg) translateZ(10px);
}

.frontSide,
.backSide {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: clamp(4px, 10px, 12px);
    border: 1px solid var(--black);
    background: rbga(0,0,0,0.1);
}

.leftSide {
    transform: rotateY(-90deg) translateZ(50px);
}

.rightSide {
    transform: rotateY(90deg) translateZ(0px);
}

.leftSide,
.rightSide {
    width: 20px;
    height: 50px;
    left: 40px;
    border: 1px solid var(--black);
    background: var(--side-bg-color);
}

.topSide {
    transform: rotateX(90deg) translateZ(30px);
}

.bottomSide {
    transform: rotateX(-90deg) translateZ(20px);
}

.topSide,
.bottomSide {
    width: 50px;
    height: 20px;
    top: 20px;
    border: 1px solid var(--black);
    background: var(--side-bg-color);
}



@media (max-width: 768px) {
    .mainContainer {
        margin: 5vh 1vw;
    }

    .content {
        padding: 1vh 10vw;
    }

    .frame {
        padding: 10px 15px;
        font-size: 20px;
    }

}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1500px) {}