.skills_container {
    min-height: 400px;
    color: black;
    border-radius: 20px;
    z-index: 8;
    margin: 10vh 0px;
    scroll-margin-top: 75px;
    background: #4169E1;
    transition: background 1s linear;
}

.night {
    min-height: 400px;
    color: white;
    border-radius: 20px;
    background: #4169E1;
    z-index: 8;
    margin: 10vh 0px;
    scroll-margin-top: 75px;
    transition: background 1s linear;
}

.title {
    font-size: 100px;
    opacity: 50%;
    font-weight: lighter;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 2000px;
    perspective-origin: 50%;
    gap: 20px;
    color: white;
    padding: 0px 30vw 5vh 30vw;
}

.frame {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 32px;
    text-align: center;
    transition: all 0.2s linear;
}

.frame_night {
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding: 20px 32px;
    text-align: center;
    transition: all 0.2s linear;
}



.box {
    width: 120px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s linear;

    --main-bg-color: black;
    --side-bg-color: turquoise;

}
.boxFace {
    position: absolute;
}
.frontSide { transform: rotateY(0deg) translateZ(20px);}
.backSide { transform: rotateY(180deg) translateZ(20px);}
.frontSide,.backSide {
    width: 120px;
    height: 80px;
    opacity: 0.6;
    font-size: clamp(16px, 1.5vw, 24px);
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border: 1px solid black;
    background: var(--main-bg-color);
}
.leftSide{ transform: rotateY(-90deg) translateZ( 60px ); }
.rightSide{ transform: rotateY(90deg) translateZ( 60px ); }
.leftSide, .rightSide {
    width: 40px;
    height: 80px;
    left: 40px;
    border: 1px solid black;
    background: var(--side-bg-color);
}
.topSide{ transform: rotateX( 90deg) translateZ(40px); }
.bottomSide { transform: rotateX( -90deg) translateZ(40px); }
.topSide, .bottomSide {
    width: 120px;
    height: 40px;
    top: 20px;
    border: 1px solid black;
    background: var(--side-bg-color);
}



@media only screen and (min-width: 0px) and (max-width: 700px) {
    .skills_container {
        margin: 5vh 1vw;
    }

    .night {
        margin: 5vh 1vw;
    }

    .title{
        font-size: 52px;
    }
    .skills {
        color: black;
        padding: 1vh 10vw;
    }

    .frame_night {
        padding: 10px 15px;
        font-size: 20px;
    }
    
    .frame {
        padding: 10px 15px;
        font-size: 20px;
    }

}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    
    .title {
        font-size: 72px;
    }
    .skills {
        color: black;
    }

}



@keyframes pop {
    
    to {
        scale: 1;
        opacity: 1;
    }
}