@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");


.hero_container {
    height: 90vh;
    min-height: 900px;
    z-index: 8;
}

.hero_img {
    position: relative;
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: end;
    grid-template: repeat(9, 1fr) / repeat(16, 1fr);

    z-index: 8;

}

.hero_statement {
    grid-area: 2 / 2 / 5 / 16;
    text-align: end;
}

.hero_statement1 {
    line-height: 100px;
    font-size: 100px;
    animation: pop 1s ease-out;
}

.hero_statement2 {
    opacity: 0;
    line-height: 40px;
    font-size: 40px;
    animation: pop 1s ease-out 0.8s forwards;
}

.hero_statement3 {
    opacity: 0;
    line-height: 24px;
    font-size: 24px;
    animation: pop 1s ease-out 1.5s forwards;
}

.cover {
    grid-area: 4 / 3 / 9 / 9;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    align-self: end;
}

.photo {
    display: grid;
    background-image: url('../../public/images/me_large.jpg');
    background-size: cover;
    background-position: center 30%;
    clip-path: circle();
    place-items: center;
    z-index: 1;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    grid-area: 5 / 2 / 10 / 9;
    opacity: 0;
    animation: pop 0.5s ease-out 2s forwards;
}

.m {
    grid-area: 5 / 10 / 7 / 14;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px dashed black;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    
    .hero_img {
        grid-template: repeat(16, 1fr) / repeat(9, 1fr);
        place-items: center;
    }

    .hero_statement {
        grid-area: 2 / 2 / 7 / 9;
    }

    .hero_statement1 {
        font-size: 48px;
        line-height: 48px;
    }
    
    .hero_statement2 {
        font-size: 24px;
        line-height: 24px;
        text-wrap: wrap;
    }
    
    .hero_statement3 {
        top: unset;

        font-size: 16px;
        line-height: 16px;
    }

    span {
        font-size: unset;
    }

    .photo {
        grid-area: 8 / 2 / 15 / 9;
        z-index: 1;
        background-image: url('../../public/images/me_small.jpg');
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {

    .hero_img {
        grid-template: repeat(16, 1fr) / repeat(9, 1fr);
    }

    .hero_statement{
        grid-area: 2 / 3 / 7 / 9;
    }

    .hero_statement1 {
        align-self: end;
        font-size: 72px;
        line-height: 72px;
    }
    
    .hero_statement2{
        font-size: 36px;
        line-height: 36px;
    }

    .hero_statement3 {
        font-size: 20px;
        line-height: 20px;
    }

    .photo {
        grid-area: 9 / 3 / 17 / 8;
        background-image: url('../../public/images/me_medium_2.jpg');
    }
}


@keyframes fadeIn {
    from { opacity: 0.2; rotate: x 90deg; }
    to { opacity: 1; rotate: x 0deg; }
}

@keyframes cover {
    from {height: 100%;}
    to {height: 0%;}
}

@keyframes pop {
    from {opacity: 0; bottom: -20px;}
    to {opacity: 1; bottom: 0px;}
}