@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");


.mainContainer {
    position: relative;
    z-index: 8;
    flex-direction: column;
    padding: 24px 0px;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
}

.headlineContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.headline {
    opacity: 1;
    animation: pop 1s ease-out;
}

.subHeadline {
    opacity: 0;
    animation: pop 1s ease-out 0.8s forwards;
}

.heroMessage {
    opacity: 0;
    animation: pop 1s ease-out 1.5s forwards;
}

.imageAndIconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.heroPhoto {
    background-position: center;
    background: var(--black);
    clip-path: circle();
    z-index: 1;
    width: 250px;
    height: 250px;
    max-width: 600px;
    max-height: 600px;
    opacity: 0;
    animation: pop 0.5s ease-out 2s forwards;
}

.socialMediaContainer {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    animation: pop 0.5s ease-out 2s forwards;
}

.anchorToSocialSite {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    margin-left: 10%;
}

.anchorToSocialSite:hover {
    cursor: pointer;
}


.anchorToSocialSite:hover .icon {
    transform: scale(1.1);
    fill: var(--secondary-dark);
}

.icon {
    height: 32px; 
    width: 32px;
    margin: 4px;
    transition: all 0.3s linear;
}

[data-theme="dark"] .icon {
    fill: var(--background-dark);
}


.nameOfSocialSite {
    display: inline;
}

@media (max-width: 768px) {

    .headlineContainer {
        align-items: center;
    }

    .headlineContainer{
        margin-right: unset;
    }

    .imageAndIconsContainer {
        flex-direction: column;
    }

    .headline {
        margin: 0 auto;
    }

    .heroPhoto {
        width: 250px;
        height: 250px;
    }

    .socialMediaContainer {
        align-items: center;
    }

    .anchorToSocialSite {
        margin-left: unset;
    }
}

@media (min-width: 768px) {



    .heroPhoto {
        width: 400px;
        height: 400px;
    }

    .socialMediaContainer {
        grid-area: 3 / 1 / 4 / 3;
        align-items: center;
    }

    .anchorToSocialSite {
        margin-left: unset;
    }

}

@media (min-width: 1024px) {

}

@media (min-width: 1500px ) {

}

@keyframes fadeIn {
    from {
        opacity: 0.2;
        rotate: x 90deg;
    }
    to {
        opacity: 1;
        rotate: x 0deg;
    }
}

@keyframes cover {
    from {height: 100%;}
    to {height: 0%;}
}

@keyframes pop {
    from {
        opacity: 0;
        bottom: -20px;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}