.mainContainer {
    scroll-margin-top: 75px;
    flex-direction: column;
    padding: 24px 0px;
}

.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.projectListItemContainer {
    border-top: 1px dotted gray;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

.projectListGridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    cursor: pointer;
}

.projectListThumbnail {
    border-radius: 20px;
    width: 320px;
    min-width: 320px;
    height: 180px;
    min-height: 180px;
    object-fit: contain;
    background: var(--black-darkest);
    transition: transform 0.3s ease;
}

.projectListThumbnail:hover {
    transform: scale(0.95);
}

.projectName {
    text-align: center;
    height: 40px;
}

.highlightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.highlightThumbnail {
    margin: 0 20px;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 16/ 9;
    border: 1px solid var(--black);
    background: var(--black);
    transition: transform 0.3s ease;
}

.highlightThumbnail:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.highlightTitle {
    justify-self: center;
    opacity: 0;
    animation: pop 0.5s ease-out 2s forwards;
}

.highlightDescription {
    padding: 0 40px;
    align-self: start;
}

@media (max-width: 768px) {
    .mainContainer {
        border-radius: 20px;
    }

    .projectListItemContainer {
        overflow-y: scroll;
    }

    .projectListThumbnail {
        aspect-ratio: 16 / 9;
        height: 90px;
        border-radius: 4px;
        width: auto;
    }

    .highlightTitle {
        text-align: center;
        align-self: center;
    }
}

@media (min-width: 768px) {
    .projectListItemContainer {
        flex-direction: row;
        overflow-x: scroll;
    }

    .projectListGridContainer {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1500px) {}

@keyframes pop {
    to {
        scale: 1;
        opacity: 1;
    }
}