.projects_container {
    scroll-margin-top: 75px;
    background: linear-gradient(rgb(216, 218, 217), white);
}

.night {
    scroll-margin-top: 75px;
    color: black;
    background: linear-gradient(rgb(216, 218, 217), white);
}

.title {
    font-size: 100px;
    opacity: 50%;
    font-weight: lighter;
    padding-right: 12px;
    margin: 10px 0px;
}

.projects_screen {
    display: grid;
    grid-template: 100% / 40% 60%;
    padding: 12px;
}

.projects_flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 800px;
    margin: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.projects_grid_container {
    display: grid;
    margin: 10px;
    cursor: pointer;
    grid-template: 300px 40px / 400px;
}

.project_shell {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    place-self: center;
    object-fit: contain;
    background: black;
}

.project_desc {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    grid-template: auto auto / auto;
}

.project_title {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    height: 40px;
}

.projects_highlight {
    display: grid;
    border: 4px solid gray;
    border-radius: 20px;
    cursor: pointer;
    grid-area: 1 / 2 / 2 / 3;
    place-items: center;
    grid-template: auto 5% auto / 100%;
}

.highlight_title {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
    opacity: 0;
    animation: pop 0.5s ease-out 2s forwards;
}

.highlight_screen {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 20px;
    width: 50vw;
    aspect-ratio: 16/ 9;
    border: 1px solid black;
    background: black;
}

.project_preview {
    grid-area: 3 / 1 / 3 / 2;
    padding: 0 40px;
    align-self: start;
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
    .projects_container {
        border-radius: 20px;
        background: #D4F1F4;
    }

    .night {
        color: black;
        border-radius: 20px;
        background: #D4F1F4;
    }

    .title {
        font-size: 52px;
        line-height: 52px;
    }


    .projects_screen {
        grid-template: 60% 40% / 100%;
        min-height: 600px;
        padding: unset;
    }

    .projects_flex_container {
        height: unset;
        grid-area: 2 / 1 / 3 / 2;
        border-top: 1px dotted black;
        padding: 20px;
    }

    .projects_grid_container {
        grid-template: 100% / 144px auto;
        width: 100%;
        padding: 0px;
    }

    .project_shell {
        aspect-ratio: 16 / 9;
        height: 80px;
        border-radius: 4px;
        width: auto;
    }

    .project_desc {
        grid-area: unset;
        display: grid;
        grid-template: 50% 50% / 100%;
        justify-items: start;
    }

    .project_title {
        grid-area: 1 / 1 / 2 / 2;
    }

    .projects_highlight {
        grid-area: unset;
        display: grid;
        grid-template: auto auto auto / 100%;
        border-radius: 20px;
    }

    .highlight_title {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
        align-self: center;
    }

    .highlight_screen {
        margin: unset;
        grid-area: 1 / 1 / 2 / 2;
        width: 95vw;
        height: auto;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {

    .projects_screen {
        height: min(calc(100vh + 72px), 700px);
    }

    .title {
        font-size: 72px;
    }

    .projects_flex_container {
        height: 100%;
        margin: unset;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .projects_grid_container {
        margin: 10px 0px;
        min-height: 150px;
        grid-template: 100% / 75% 25%;
        place-items: center;
    }


    .project_desc {
        grid-area: 1 / 2 / 2 / 3;
    }

    
}

@keyframes pop {
    to {
        scale: 1;
        opacity: 1;
    }
}