.mainContainer {
    scroll-margin-top: 75px;
    flex-direction: column;
    padding: 24px 0px;
}

.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.projectListItemContainer {
    border-top: 1px dotted gray;
    padding: 12px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

.projectFrameContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 12px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    aspect-ratio: 16/9;
    max-width: 250px;
    width: 100%;
}

.projectFrameThumbnailContainer {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}


.projectFrameThumbnail {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: var(--black-darkest);
    transition: transform 0.3s ease;
}

.projectFrameTitle {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: var(--primary);
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
.projectFrameContainer:hover > .projectFrameTitle {
    cursor: pointer;
    opacity: 1;
}

.highlightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.highlightThumbnailContainer {
    width: 80%;
    height: 100%;
}

.highlightThumbnailContainer:hover > .highlightThumbnail {
    transform: scale(0.95);
    cursor: pointer;
}

.highlightThumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 16/ 9;
    border: 1px solid var(--black);
    background: var(--black);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.highlightThumbnail > h3 {
    transform: scale(0);
    font-size: clamp(20px, 8vw, 100px);
    color: black;
    user-select: none;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.highlightThumbnail:active > h3 {
    transform: scale(1);
    opacity: 1;
}

.highlightTitle {
    justify-self: center;
}

.highlightDescription {
    padding: 0 40px;
    align-self: start;
}

@media (max-width: 768px) {
    .mainContainer {
        border-radius: 20px;
    }

    .projectListItemContainer {
        overflow-y: scroll;
    }
}

@media (min-width: 768px) {
    .projectListItemContainer {
        overflow-x: scroll;
    }

    .projectFrameContainer {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1500px) {}